@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.App {
  text-align: center;
  font-family: 'Lora', serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.navbar > button {
  padding: 1px .4rem;
}

.navbar > a {
  text-decoration: none;
}

.navbar > a:visited {
  color: rgb(0, 89, 255);
}